<div class="hero-unit">
    <h2>Quick Interview</h2>

    <form>
        <fieldset>
            <label>Name</label>
            <input type="text" placeholder="Name of the candidate">
            <label>Level</label>

            <div class="btn-group">
                <button class="btn active">Junior</button>
                <button class="btn">Intermediate</button>
                <button class="btn">Senior</button>
            </div>
            <br>
            <br>
            <button class="btn btn-primary btn-large">Start &raquo;</button>
        </fieldset>
    </form>
</div>